:root{
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  background-repeat: no-repeat;
  box-sizing: border-box;
  
}

.input{
  width:100%;
  max-width:500px;
  padding: 5px 10px;
  border: 1px solid white;
  background: transparent;
  border-radius: 3px;
  color: white;
}

.search-btn{
  padding: 2px 5px;
  border: 1px solid white;
  background: transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.search-btn:hover{
  background: white;
  color: black;
}

.container{
  margin:  0 auto;
  
}

.card{
  margin: 0 auto;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  img-centered: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.img-box{
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.img-user{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}